logs
lib
project/project
project/target
target
tmp
dist
.idea
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.*
!.gitignore
db
eclipse
lib
log
modules
precompiled
test-result
server.pid
activator*
*.iml
*.eml