@(title: String)
@main(Html(text = title), title)(Html("<meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />")) {
   <div class="quote info">
      <p>Все права на опубликованные цитаты принадлежат их владельцам — непосредственным участникам цитат и тем, кто опубликовал их на сайтах в интернете. Администрация сайта не несет ответственности за их использование третьими сторонами.</p>
      <p>На сайте неизбежно есть и будут цитаты, содержащие нецензурную лексику. Если использование обсценной лексики вас раздражает, рекомендуем не читать сайт.</p>
      <p>Цитаты на сайте являются произведениями народного творчества. Администрация сайта не ставит перед собой цели оскорблять честь и достоинство физических лиц, либо посягать на чью-либо деловую репутацию. Совпадения реальных имён и названий считаются случайными.</p>
      <p>Администрация сайта не занимается предварительной оценкой материалов на предмет соответствия их действующему законодательству, не оценивает содержащиеся в цитатах оценочные суждения. При этом администрация оставляет за собой право не публиковать явно нарушающие законодательство, разглашающие личные сведения или являющиеся личными выпадами против конкретных лиц и групп лиц цитаты, в том числе и автоматически, но не гарантирует полного отсутствия подобного контента. В случае обнаружения таких цитат просьба написать нам, мы постараемся принять меры.</p>
      <p>Желая соответствовать нормам закона № 436-ФЗ «О защите детей от информации, причиняющей вред их здоровью и развитию», и с учётом предыдущего пункта, администрация классифицирует сайт, как содержащий запрещенную для детей информационную продукцию (18+). Таким образом, если вам нет восемнадцати, пользоваться сайтом вам запрещается.</p>
      <p>Администрация сайта имеет право публиковать, удалять и редактировать <em>любые</em> материалы, по своему усмотрению.</p>
     <p>Администрация сайта оставляет за собой право на использование информации, содержащейся на сайте, по своему усмотрению.</p>
   </div>
}
