@(title: Html, nav: String = "")(headInsert: => Html)(content: Html)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//RU">

<html>
    <head>
        <title>Umori.li</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Агрегатор самых последних шуток, смешных историй и анекдотов в сети.
            Не надо обходить кучу сайтов в поисках нового - есть umori.li не пропустите все самое смешное!" />
        <meta name="keywords" content="шутки, анекдоты, сарказм, свежие анекдоты, смешные, истории, баш,
            афоризмы, стишки, смех, веселье, умора" />
        @headInsert
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/docs.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src=\"@routes.Assets.at("javascripts/jquery-1.10.2.min.js")\" <\/script>')</script>
        </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="@routes.Application.index()">Umori.li</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dropdown @("active".when(nav == "bash.im"))">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">bash.im <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.Application.bash(Option("bash"))">Новые</a></li>
                                    <li><a href="@routes.Application.bash(Option("abyss"))">Бездна</a></li>
                                </ul>
                            </li>
                            <li class="@("active".when(nav == "ithappens.me"))">
                                <a href="@routes.Application.ithappens()">ithappens.me</a>
                            </li>
                            <li class="@("active".when(nav == "zadolba.li"))">
                                <a href="@routes.Application.zadolbali()">zadolba.li</a>
                            </li>
                            <li class="dropdown @("active".when(nav == "anekdot.ru"))">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">anekdot.ru<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.Application.anekdot(Option("new anekdot"))">Анекдоты</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new story"))">Истории</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new aforizm"))">Афоризмы</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new stihi"))">Стихи</a></li>
                                </ul>
<!--                          </li>
                            <li class="@("active".when(nav == "german-bash.org"))">
                                <a href="@routes.Application.bash(Option("bash"))">german-bash.org</a>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row-fluid">
                    <div id="div1" class="span10">
                        <h3><img src="@routes.Assets.at("images/big_smile72.png")" alt="Smile )">@title</h3>
                    </div>
                    <div id="div2" class="span2">
                        <a href="https://play.google.com/store/apps/details?id=com.sagol.umorili&hl=ru" target="_blank">
                            <img src="http://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.sagol.umorili%26hl%3Dru&size=90x90" align="right" width="90" height="90" border="0" title="QR код"></a>
                    </div>
                </div>
            </div>
        </header>

        <br/>
        <div class="container">
                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>Использование сайта подразумевает согласие с <a href="@routes.Application.agree()">пользовательским соглашением.</a> 18+ </p>
                <p>Для полученния данных можно воспользоваться <a href="@routes.Application.api()">REST API</a>.</p>
                <p>Вопросы и предложения <a href="mailto:sup@@umori.li">принимаются</a>.</p>
                <ul class="footer-links">
                    <li><a href="http://bash.im">Bash.im</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://ithappens.me">IT happens</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://zadolba.li">Zadolba.li</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://shortiki.com">Shortiki.com</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://anekdot.ru">Anekdot.ru</a></li>
                </ul>
                    <div class="g-plusone container" data-annotation="inline" data-width="120"></div>
                    <script type="text/javascript">
                        window.___gcfg = {lang: 'ru'};
                        (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
            </div>

                <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=24166948&amp;from=informer"
            target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24166948/1_0_FFFFFFFF_EFEFEFFF_0_pageviews"
            style="width:80px; height:15px; border:0;" alt="" title="Яндекс.Метрика: данные за сегодня (просмотры)" /></a>
                <!-- /Yandex.Metrika informer -->

                <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter24166948 = new Ya.Metrika({id:24166948,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true});
            } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="//mc.yandex.ru/watch/24166948" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
        </footer>

        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

        <script src="@routes.Assets.at("javascripts/holder/holder.js")"></script>
        <script src="@routes.Assets.at("javascripts/google-code-prettify/prettify.js")"></script>

        <script src="@routes.Assets.at("javascripts/application.js")"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37689903-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
