@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Umori.li</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/docs.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="@routes.Application.index()">Umori.li</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dropdown @("active".when(nav == "bash.im"))">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">bash.im <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.Application.bash(Option("bash"))">Новые</a></li>
                                    <li><a href="@routes.Application.bash(Option("abyss"))">Бездна</a></li>
                                </ul>
                            </li>
                            <li class="@("active".when(nav == "ithappens.ru"))">
                                <a href="@routes.Application.ithappens()">ithappens.ru</a>
                            </li>
                            <li class="@("active".when(nav == "zadolba.li"))">
                                <a href="@routes.Application.zadolbali()">zadolba.li</a>
                            </li>
                            <li class="@("active".when(nav == "shortiki.com"))">
                                <a href="@routes.Application.shortiki()">shortiki.com</a>
                            </li>
                            <li class="dropdown @("active".when(nav == "anekdot.ru"))">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">anekdot.ru <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.Application.anekdot(Option("new anekdot"))">Анекдоты</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new story"))">Истории</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new aforizm"))">Афоризмы</a></li>
                                    <li><a href="@routes.Application.anekdot(Option("new stihi"))">Стихи</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h3><img src="@routes.Assets.at("images/big_smile72.png")" alt="Smile )">@title</h3>
            </div>
        </header>
        <br/>
        <div class="container">

            <div class="content">
                
                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>Использование сайта подразумевает согласие с <a href="@routes.Application.agree()">пользовательским соглашением.</a> 18+ </p>
                <ul class="footer-links">
                    <li><a href="http://bash.im">Bash.im</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://ithappens.ru">IT happens</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://zadolba.li">Zadolba.li</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://shortiki.com">Shortiki.com</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://anekdot.ru">Anekdot.ru</a></li>
                </ul>
            </div>
        </footer>

        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-tab.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-button.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-carousel.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-affix.js")"></script>

        <script src="@routes.Assets.at("javascripts/holder/holder.js")"></script>
        <script src="@routes.Assets.at("javascripts/google-code-prettify/prettify.js")"></script>

        <script src="@routes.Assets.at("javascripts/application.js")"></script>

    </body>
</html>
