@(title: String, body: scala.collection.mutable.LinkedHashSet[UmorElement])(headInsert: String = "")
@main(Html(text = title), title)(Html(headInsert)){
  @body.map { b =>
      @if(b.link != null) {
        <div class="span11 well">
          @Html(b.elementHtml)
           <div align="right">
             <ul class="footer-links">
               <li><a href="@b.link.toString">link</a></li>
               <li class="muted">·</li>
               <li><a href="http://vkontakte.ru/share.php?url=@java.net.URLEncoder.encode(
                 "http://www.umori.li", "utf-8")@b.link&noparse=false&image=@java.net.URLEncoder.encode("http://www.umori.li/assets/images/big_smile72.png", "utf-8")"
                   target="_blank">vk</a></li>
               <li class="muted">·</li>
               <li><a href="https://www.facebook.com/dialog/feed?app_id=557683680910987&link=@java.net.URLEncoder.encode(
                 "http://www.umori.li", "utf-8")@b.link&redirect_uri=@java.net.URLEncoder.encode(
                 "http://www.umori.li", "utf-8")" target="_blank">facebook</a></li>
               <li class="muted">·</li>
               <li><a href="https://twitter.com/share?url=http://www.umori.li@b.link&text=@org.apache.commons.lang3.StringEscapeUtils.escapeHtml4(b.element.text().take(100))"
                   target="_blank">tweet</a></li>
             </ul>
           </div>
        </div>
      } else {
          <div class="span11 well">
              @Html(b.elementHtml)
          </div>
      }
  }
}
